.arrow{
  color: #81D079;
  width: 40px;
  
}
.arrow{
  animation: glowing 1300ms infinite;
}
@keyframes glowing {
  0% {
    color:  #25E095;
   
  }
  50% {
    color: #49e819;
    
  }
  100% {
    color: #2ba805;
    
  }
}