/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.g-main{
  background: #1F2729;
  color:#25E095 ;
}
.g-btn-primary{
  background: #25E095 !important;
}

.g-box{
  background: #1F2729;
  color: white;
}