/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.g-main{
  background: #1F2729;
  color:#25E095 ;
}
.g-btn-primary{
  background: #25E095 !important;
}

.g-box{
  background: #1F2729;
  color: white;
}

/* arrow button glowing */
.arrow{
  color: #81D079;
  width: 40px;
  
}
.arrow{
  animation: glowing 1300ms infinite;
}
@keyframes glowing {
  0% {
    color:  #25E095;
    
  }
  50% {
    color: #49e819;
    
  }
  100% {
    color: #2ba805;
    
  }
}